<link rel="stylesheet" type="text/css" href="/app/stylesheets/application.css">

<%= render 'shared/navbar' %>
<div class = "container">
  <div class="row">
    <div class="col-12 text-center" id="index-title">
      <h1>Tasks</h1>
    </div>
  </div>

  <div class="row">
        <div class="col-3">
          <div class = "top-header">
            <h3> Filter </h3> 
          </div>
          <div>
            <%= link_to 'Less than $20', tasks_path(:pay=>"less_than_20"), class: 'btn filter-btn' %> <br/>
            <%= link_to '$20-$50', tasks_path(:pay=>"20-50"), class: 'btn filter-btn' %> <br/>
            <%= link_to 'More than $50', tasks_path(:pay=>"over_50"), class: 'btn filter-btn' %>
          </div>
          <div class = "top-header">
            <h3> Sort </h3>
          </div>
          <div>
            <div><b>Date</b></div>
          </div>
          <div>
            <div class = "<%=@sort_oldest_date_header%>">
              <%= link_to 'Sort By Oldest', tasks_path(:sort=>"created_at_old"), id: 'date_header_old', class: 'btn filter-btn' %>
            </div>
            <div class = "<%=@sort_recent_date_header%>">
              <%= link_to 'Sort By Newest', tasks_path(:sort=>"created_at_new"), id: 'date_header_new', class: 'btn filter-btn' %>
            </div>
          </div>
          <div>
            <div><b>Price</b></div>
          </div>
          <div>
            <div class = "<%=@sort_low_high_price_header%>">
              <%= link_to 'Sort Low to High', tasks_path(:sort=>"lowest_to_highest_pay"), id: 'price_header_new', class: 'btn filter-btn' %>
            </div>
            <div class = "<%=@sort_high_low_price_header%>">
              <%= link_to 'Sort High to Low', tasks_path(:sort=>"highest_to_lowest_pay"), id: 'price_header_new', class: 'btn filter-btn' %>
            </div>
          </div>
        </div>

        <div class = "col-md-9">
          <br/>
          <div>
            <h5>Total tasks available: <%= @tasks.select{|task| task.user_accepted_id == 0 && task.completed == false}.size %> </h5>
            <h5>Total tasks in the universe: <%= @tasks.count %> </h5>
          </div>
          <div class = "row">
            <% @tasks.each_with_index do |t, i| %>
              <% if t.user_accepted_id == 0 && t.completed == false %>
                <% if i != 0 && i % 2 == 0 %>
                <div class="col-2"></div>
                <% end %>
                <div class="col-5">
                  <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h3 class="card-text font-weight-bold"><%= t.name %></h3>
                      <h6 class="card-text font-weight-bold">Task id: <%= t.id %></h6>
                      <h6 class="card-text font-weight-bold">Acceptor id: <%= t.user_accepted_id %></h6>
                      <h5 class="card-title"><%= t.user.fname %> <%= t.user.lname %></h5>
                      <h6 class="card-subtitle mb-2 text-muted"><%= t.user.email %></h6>
                      <p class="card-text"><%= t.description %></p>
                      <p class="card-text font-weight-bold">Time Needed: <%= t.hours %> hr(s)</p>
                      <p class="card-text font-weight-bold">Location: <%= t.location %></p>
                      <p class="card-text font-weight-bold">Pay: $<%= t.price %></p>
                      <p class="card-text font-weight-bold">Posted <%= time_ago_in_words(t.created_at) %> ago</p>
                      <% if t.user != current_user %>
                        <%= link_to 'Accept task', accept_tasks_path(t.id), class: 'btn btn-outline-dark' %> 
                      <% end %>
                      </div>
                  </div>
                </div>
              <%end%>
            <% end %>

            <% if @tasks.length == 0 %>
            <div class="col-12">
              There are no tasks available at the moment.
            </div>
            <% end %>
          </div>
        </div>    
  </div>
</div>

