<link rel="stylesheet" type="text/css" href="/app/stylesheets/application.css">


<%= render 'shared/navbar' %>
<div class = "container">
<div class="row">
  <div class="col-12 text-center" id="index-title">
    <h1>Tasks</h1>
  </div>
</div>

<div class="<%=@sort_oldest_date_header%>">
  <%= link_to 'Sort By Oldest', tasks_path(:sort=>"created_at_old"), id: 'date_header_old' %>
</div>

<div class="<%=@sort_recent_date_header%>">
  <%= link_to 'Sort By Newest', tasks_path(:sort=>"created_at_new"), id: 'date_header_new' %>
</div>


<div class="row">
      <% @tasks.each do |t| %>
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= t.user.fname %> <%= t.user.lname %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= t.user.email %></h6>
              <p class="card-text font-weight-bold"><%= t.name %></p>
              <p class="card-text"><%= t.description %></p>
              <p class="card-text font-weight-bold">Time Needed: <%= t.hours %> hr(s)</p>
              <p class="card-text font-weight-bold">Location: <%= t.location %></p>
              <p class="card-text font-weight-bold">Pay: $<%= t.price %></p>
              <p class="card-text font-weight-bold">Created At: <%= t.created_at %></p>

            </div>
          </div>
        </div>
      <% end %>
      <% if @tasks.length == 0 %>
        <div class="col-12 text-center">
          There are no tasks available at the moment.
        <div>
      <% end %>
</div>
</div>

