<link rel="stylesheet" type="text/css" href="/app/stylesheets/application.css">

<%= render 'shared/navbar' %>
<div class="row">
    <div class="col-12 text-center" id="profile-title">
        <h1>My Profile</h1>
    </div>
</div>

<div class="row" id="account-info">
    <div class = "col-md-5">
        <h2>Account Information</h2>
        <b>Name: </b><%= @first_name %> <%= @last_name %> <br/>
        <b>Email:</b> <%= @email %>  <br/>
        <b>ID:</b> <%= current_user.id %>  <br/>
        <b>University:</b> <%= @school %>
    </div>
    <div class = "col-md-3">
    <%= link_to 'Edit', edit_user_registration_path, class: 'btn btn-primary' %>
    </div>
</div>


<div class="tasks-section">
    <div class = "row">
        <%= link_to 'New Task', new_task_path, class: 'btn btn-primary' %> 
        <%= link_to 'Delete All Tasks', delete_all_tasks_path, :method => :get, class: 'btn btn-danger delete-btn', data: {confirm: "Are you sure you want to delete all your tasks?"} %>
    </div>
    <br/>
    <div class = "row">
        <div class= "col-6">
            <div class="row">
                <h2>Tasks Requested</h2>
            </div>
            <div class = "col-12">
                <% @my_tasks.each do |t| %>
                    <div class ="task-prof col-lg-10">
                        <%= link_to t.name, task_path(t.id) %>
                        <% if t.completed %>
                            completed!
                        <% elsif t.user_accepted_id != nil %>
                            accepted
                        <% end %>
                        <div class = "float-right top:50%">
                            <%= link_to 'Delete', task_path(t.id), method: :delete, class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete this tasks?"} %> 
                        </div>
                    </div>
                <% end %>
            </div>
        </div>

        <div class="col-6">
            <div class="row">
                <div class="col-2.5">
                    <h2>Tasks Accepted</h2>
                </div>
            </div>
            <div class = "col-12">
                <% @accepted_tasks.each do |t| %>
                    <div class ="task-prof col-lg-10">
                        <%= link_to t.name, task_path(t.id) %>
                        <% if t.completed %>
                            completed!
                        <% end %>
                        <div class = "float-right top:50%">
                            <%= link_to 'Delete', delete_accepted_tasks_path(t.id), class: 'btn btn-danger', data: {confirm: "Are you sure you want to delete this tasks?"} %> 
                        </div>
                    </div>
                <% end %>
            </div>

        </div>
    </div>
</div>
