<%= render 'shared/navbar' %>
<div class="row">
    <div class="col-12 text-center">
        Create a Task
    </div>
</div>

<%= form_tag tasks_path, class: 'form' do %>
  <%= label :task, :name, 'Task Name', class: 'col-form-label' %>
  <%= text_field :task, :name, class: 'form-control' %>

  <%= label :task, :hours, 'Time Needed', class: 'col-form-label' %>
  <%= text_field :task, :hours, class: 'form-control' %>

  <%= label :task, :location, 'Location', class: 'col-form-label' %>
  <%= text_field :task, :location, class: 'form-control' %>

  <%= label :task, :price, 'Price', class: 'col-form-label' %>
  <%= text_field :task, :price, class: 'form-control' %>

  <%= label :task, :description, 'Description', class: 'col-form-label' %>
  <%= text_field :task, :description, class: 'form-control' %>

  <%= number_field :task, :user_id, class: 'form-control', value: @user_id, type: :hidden %>

  <div class="text-center">
    <%= submit_tag 'Create', class: 'btn btn-primary' %>
  </div>
<% end %>
