<link rel="stylesheet" type="text/css" href="/app/stylesheets/application.css">
<%= render 'shared/navbar' %>
<div class="row">
  <div class="col-12 text-center top-header">
    <h1>Task: <%=@name%></h1>
  </div>
</div>
<div class="row">
  <div class="col-12 text-center top-header">
    <% if @user_accepted_id == nil %>
      <h3>Currently assigned to no one</h1>
    <% else %>
      <h3>Currently assigned to user: <%=@user_accepted_uni%></h1>
    <% end %>
  </div>
</div>
<div class="row">
  <div class ="col-3">
  </div>
  <div class="task-info col-6">
      <div class = "descriptor">
        <b>Posted by user_id</b>: <%=@user_id%>
      </div>
      <div class = "descriptor">
        <b>Description</b>: <%=@description%>
      </div>
      <div class = "descriptor">
        <b>Time Needed</b>: <%=@hours%> hr(s)
      </div>
      <div class = "descriptor">
        <b>Location:</b> <%=@location%>
      </div>
      <div class = "descriptor">
        <b>Price:</b> $<%=@price%>
      </div>
      <div class = "descriptor">
        <b>Created At:</b> <%=@created_at%>
      </div>
  </div>
  <div class ="col-3">
  </div>
</div>

<% if @user_id == current_user.id %>
  <div class="row">
    <div class="col-12 text-center edit-task">
      <%= link_to 'Edit Task', edit_task_path(@id), class: 'btn btn-primary' %> 
    </div>
  </div>
<% else %>
  <div class="row">
  <div class="col-12 text-center edit-task">
    <% if @task.completed == false %>
      <%= link_to 'Mark as completed', completed_tasks_path(@id), class: 'btn btn-primary' %>
      <%= link_to 'Unaccept task', delete_accepted_tasks_path(@id), class: 'btn btn-primary' %> 
    <% end %>
  </div>
  </div>
<% end %>