<%= render 'shared/navbar' %>
<div class="row">
  <div class="col-12 text-center">
    <h1><%=@name%></h1>
    <% if current_user.id == @task.user_id %>
      <%= link_to 'Edit Task', edit_task_path(@id), class: 'btn btn-primary' %> 
    <% end %>
  </div>
</div>
<div class="row">
     <div class="col-12">
        Description: <%=@description%> <br/>
        Time Needed: <%=@hours%> hr(s)<br/>
        Location: <%=@location%> <br/>
        Price: $<%=@price%> <br/>
     </div>
</div>