<div class="row">
    <div class="col-12 text-center">
        Create New Account
    </div>
</div>

<%= form_tag tasks_path, class: 'form' do %>
  <%= label :user, :fname, 'First Name', class: 'col-form-label' %>
  <%= text_field :user, :fname, class: 'form-control' %>

  <%= label :user, :lname, 'Last Name', class: 'col-form-label' %>
  <%= text_field :user, :lname, class: 'form-control' %>

  <%= label :user, :email, 'University Email', class: 'col-form-label' %>
  <%= text_field :user, :email, class: 'form-control' %>

  <%= label :user, :pass, 'Password', class: 'col-form-label' %>
  <%= text_field :user, :pass, class: 'form-control' %>

  <%= label :user, :phone, 'Phone Number', class: 'col-form-label' %>
  <%= text_field :user, :phone, class: 'form-control' %>

  <div class="text-center">
    <%= submit_tag 'Create', class: 'btn btn-primary' %>
  </div>
<% end %>
