<!--  This file is app/views/tasks/login.html.erb -->
<h2>Login</h2>

<%= form_tag some_path, class: 'form' do %>
    <%= label :user, :email, 'Email', class: 'col-form-label' %>
    <%= text_field :user, :email, class: 'form-control' %>

    <%= label :user, :password, 'Password', class: 'col-form-label' %>
    <%= text_field :user, :password, class: 'form-control' %>

    <%= submit_tag 'Login', class: 'btn btn-primary' %>
<% end %>





