<h2><em><%= @task.name %></em></h2>

<ul id="details">
    <li>
        Description:
        <%= @task.description %>
    </li>
    <li>
        Pay:
        <%= @task.price %>
    </li>
    <li>
        Email:
        <%= @task.poster %>
    </li>
    <li>
        Time Needed:
        <%= @task.time_needed %>
    </li>
    <li>
        Email:
        <%= @task.poster %>
    </li>
    <li>
        Location:
        <%= @task.location %>
    </li>
</ul>

<div class="row">
  <%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-primary col-2' %>
  <%= link_to 'Delete', task_path(@task), 'data-method': 'delete', 'data-confirm': 'Are you sure?', class: 'btn btn-danger col-2' %>
  <%= link_to 'Back to task list', tasks_path, class: 'btn btn-primary col-2' %>
</div>
